body{
font-family: Arial;
margin:0;
background:#f4f7fb;
}

header{
background:#0077b6;
color:white;
padding:20px;
text-align:center;
}

.container{
display:flex;
gap:20px;
padding:20px;
justify-content:center;
flex-wrap:wrap;
}

.card{
background:white;
padding:20px;
border-radius:10px;
width:320px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

label{
margin-top:10px;
display:block;
font-weight:bold;
}

input{
width:100%;
padding:8px;
margin-top:5px;
border-radius:5px;
border:1px solid #ccc;
}

button{
margin-top:15px;
width:100%;
padding:10px;
background:#0077b6;
color:white;
border:none;
border-radius:5px;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#005f87;
}

#result{
margin-top:15px;
font-size:20px;
font-weight:bold;
text-align:center;
}

#map{
height:420px;
width:500px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}